* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--font-color);
}

:root {
    --font-color: #222;
    --theme-blue: #61c5ff;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.pointer {
    cursor: pointer;
}
