.Navbar {
    background-color: var(--theme-blue);
    height: 40px;
    width: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border-radius: 4px;
    margin: 10px 10px 0px 10px;
}

.Navbar p {
    transition-property: font-size;
    transition-duration: 100ms;
}

.Navbar p:hover {
    font-size: 20px;
}

.Navbar #x {
    display: none;
}

#nav-open-button {
    font-size: 24px;
    display: none;
    background-color: var(--theme-blue);
    text-align: center;
}

@media screen and (max-width: 600px) {
    .Navbar {
        margin: 0;
        width: 100vw;
        border-radius: 0px;
        flex-direction: row;
    }

    .Navbar #x {
        display: block;
    }

    #nav-open-button {
        display: block;
    }
}