.calendar {
    margin: 0px 20px 10px 10px;
    width: 100%;
    height: calc(100% - 10px);
    min-height: 400px;
    background-color: #81c2fb;
    border-radius: 4px;
}

@media screen and (max-width: 800px) {
    .calendar {
        margin: 10px 0px 0px 0px;
        width: calc(100% - 20px);
    }
}