.create-event {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.create-event main {
    width: 80%;
    max-width: 500px;
}

.create-event input,
.create-event textarea,
.date-input select {
    -webkit-appearance: none;
    outline: none;
    font-size: 1.1rem;
    width: 100%;
    min-height: 1.3rem;
    padding: 0.4rem 0.6rem;
    appearance: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: box-shadow ease-in-out 50ms;
}

.date-input {
    display: flex;
    flex-direction: row;
}

.date-input p {
    font-size: 1.8rem;
}

.date-input select {
    appearance: initial;
    width: 7rem;
}

.date-input input[placeholder='Date'] {
    width: 3rem;
}

.date-input input[placeholder='Year'] {
    width: 5rem;
}

.date-input * {
    margin-right: 10px;
}

.create-event textarea {
    height: 8rem;
    resize: none;
}

.create-event input:focus,
.create-event textarea:focus {
    border-color: #78afff;
    box-shadow: 0px 0px 0 0.25rem #a5d3ffbf;
}

.create-event label {
    font-size: 1.2rem;
    margin-right: 10px;
}

.create-event button {
    outline: none;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    appearance: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: box-shadow ease-in-out 50ms;
    background-color: #4791ff;
    color: #fff;
    margin-top: 30px;
}

.create-event button:hover {
    cursor: pointer;
}

.create-event button:focus {
    border-color: #78afff;
    box-shadow: 0px 0px 0 0.25rem #a5d3ffbf;
}

.input-field {
    width: 100%;
    margin-top: 20px;
}

.input-field .description {
    font-size: 0.9rem;
    color: #000a;
}
