.dashboard {
    display: flex;
    flex-direction: column;
}

.left-container {
    width: 300px;
    height: calc(100vh - 80px - 10px - 10px - 10px); /* ... , navbar , bottom margin , middle margin , top margin*/
    min-height: 300px;
    background-color: var(--theme-blue);
    border-radius: 4px;
    padding-top: 20px;
    text-align: center;

}

.events-container {
    width: 100%;
    height: 85%;
    padding: 0;
    overflow-y: scroll;
}

@media screen and (max-width: 800px) {
    .left-container {
        width: calc(100% - 20px); /* ... , margin */
        height: 400px;
    }
}