.event {
    text-align: start;
    width: auto;
    height: auto;
    background-color: #eee5;
    padding: 10px;
    margin: 10px;
    margin-top: 15px;
    border-radius: 6px;
    border: #111a solid 1px;
    position: relative;
    top: 0px;
    transition: top 100ms;
}

.event:hover {
    box-shadow: 0px 0px 10px #1113;
    cursor: pointer;
    position: relative;
    top: -5px;
}

.event p,
.event h1 {
    overflow-wrap: break-word;
}

.separator {
    font-size: 24px;
    border-width: 1px;
    border-style: solid;
    border-color: #111a;
    margin: 10px 0px 10px 0px;
}

.event-label {
    height: 20px;
    margin-right: 2px;
    padding: 2px 5px 2px 5px;
    border-radius: 4px;
}

@media screen and (max-width: 800px) {
    .event-context-menu * {
        width: calc(33% - 30px); /* adjust for margin padding and stuff */
        max-width: unset;
        height: calc(100% - 40px); /* adjust for margin padding and stuff */
        text-align: center;
        padding: 10px;
    }

    .event-context-menu * svg {
        width: 40px;
        height: 40px;
        padding: 0px;
    }
}
