* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
}

:root {
    --font-color: #222;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    background-color: #eee;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

#root {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    padding: 45px 10px 10px 10px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #fff0;
}

::-webkit-scrollbar-thumb {
    background: #888a;
}

::-webkit-scrollbar-thumb:hover {
    background: #555a;
}

.main {
    width: 100%;
    height: 100%;
    margin: 5px 0px 0px 0px;
    height: auto;
}

@media screen and (max-width: 800px) {
    #root {
        padding-top: 40px;
    }
}

@-moz-document url-prefix() {
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: sans-serif;
        font-weight: lighter;
    }
}
