.Navbar {
    background-color: var(--theme-blue);
    height: 40px;
    width: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border-radius: 4px;
    margin: 10px 10px 0px 0px;
}

.Navbar p {
    transition-property: font-size;
    transition-duration: 100ms;
}

.Navbar p:hover {
    font-size: 20px;
}

.logo {
    margin: 10px 10px 0px 10px;
    padding: 10px;
    background-color: var(--theme-blue);
    border-radius: 4px;
}

@media screen and (max-width: 900px) {
    .Navbar {
        margin: 0;
        width: calc(100vw - 70px);
        border-radius: 0px;
        flex-direction: row;
    }

    .Navbar #x {
        display: block;
    }

    #nav-open-button {
        display: block;
    }

    .logo {
        width: 40px;
        height: 20px;
        border-radius: 0px;
        margin: 0px;
        padding: 10px;
        padding-left: 20px;
    }
}