.Navbar-container {
    background-color: #0001;
    z-index: 999;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    box-shadow: #0004 0px 4px 6px;
    display: flex;
    flex-direction: row;
}

.Navbar-container .time-display {
    z-index: 1;
}

.Navbar {
    height: 40px;
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-left: 10px;
}

.logo {
    background-color: #4964ff63;
    padding: 10px;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
    border-bottom: #0000 none 0px;
    background-color: #0000;
    transition: border-bottom 100ms, background-color 100ms;
}

.nav-item:hover {
    cursor: pointer;
    border-bottom: #4174ff solid 4px;
    background-color: #0001;
}

@media screen and (max-width: 800px) {
    .Navbar-container {
        height: 40px;
        box-shadow: #0004 0px 4px 6px;
    }

    .Navbar {
        width: calc(100% - 80px);
        margin: 0;
        position: absolute;
        top: 0px;
        left: 70px;
        border-radius: 0px;
        flex-direction: row;
    }

    .logo {
        width: 40px;
        height: 20px;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 0px;
        margin: 0px;
        padding: 10px;
    }
}
