.Navbar-container {
    background-color: var(--theme-blue);
    z-index: 999;
    border-radius: 4px;
}

.Navbar-container .time-display {
    z-index: 1;
}

.Navbar {
    background-color: var(--theme-blue);
    height: 40px;
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-left: 10px;
}

.Navbar a {
    transition-property: font-size;
    transition-duration: 100ms;
}

.Navbar a:hover {
    font-size: 20px;
}

.logo {
    padding: 10px;
    background-color: var(--theme-blue);
    border-radius: 4px;
}

@media screen and (max-width: 800px) {
    .Navbar {
        margin: 0;
        width: calc(100vw - 70px);
        position: absolute;
        top: 0px;
        left: 70px;
        border-radius: 0px;
        flex-direction: row;
    }

    .logo {
        width: 40px;
        height: 20px;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 0px;
        margin: 0px;
        padding: 10px;
        padding-left: 20px;
    }
}
