.time-display {
    float: right;
    margin: 0px 0px 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-blue);
    border-radius: 4px;
    height: 40px;
    width: 250px;
}

@media screen and (max-width: 800px) {
    .time-display {
        float: unset;
        position: relative;
        width: 100%;
        height: 60px;
        margin: 10px 0px 10px 0px;
        display: none;
    }

    .time-display h4 {
        font-size: calc(2vw + 2vh);
    }

    .big {
        display: flex;
    }
}

@media screen and (min-width: 800px) {
    .big {
        display: none;
    }
}