.time-display {
    float: right;
    margin: 0px 0px 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-blue);
    height: 40px;
    width: 250px;
    z-index: -1;
}

@media screen and (max-width: 800px) {
    .time-display {
        float: unset;
        position: relative;
        height: 60px;
        width: auto;
        margin: 10px 0px 10px 0px;
        display: none;
        border: #000a solid 2px;
    }

    .time-display h4 {
        font-size: calc(2vw + 2vh);
    }

    .big {
        display: flex;
    }
}

@media screen and (min-width: 800px) {
    .big {
        display: none;
    }
}
